.galleryImage {
	width: 21%;
	float: left;
	margin-left: 0;
	padding: 3%;
	background: #eee;
	border-radius: 20px;
}

.galleryImage img {
	width: 100%;
}

.likes_count {
	background: url('http://dribbble.com/images/icon-hearts.png') no-repeat;
	top: 0;
	left: 0;
	padding-left: 18px;
}

.comments_count {
	background: url('http://dribbble.com/images/icon-views-sm.png') no-repeat;
	top: 0;
	left: 0;
	padding-left: 18px;
}

.stats {
	display: inline;
}
.stats:last-child {
	float: right;
}


#header {
	width: 100%;
	height: 90px;
	background: orange;
}

.menu li {
	float: left;
	list-style: none;
	padding-right: 4%;
}
.menu a {
	text-decoration: none;
	padding: 5px 10px;
	line-height: 90px;
	-webkit-border-radius: 45px;
	      border-radius: 45px;
	background-clip: padding-box;
	background-color: #df8b1a;
	border: 2px solid #333;
}
.menu a.selected {
	background: #8f7f14;
	color: white;
	cursor: default;
}